<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>登录 | 智慧公园管理系统</title>
    <%= require('components/layout/heade-link.html') %>
</head>
<body class="login">
    <div id="app">
        <login></login>
    </div>
    <%= require('components/layout/footer-script.html') %>
</body>
</html>