.col-md-5, .col-md-6, .col-md-7 {
    padding: 0;
}

.dateSelect {
    overflow: hidden;
    .period {
        display: block;
        float: left;
        margin: 0 0 0 20px;
        width: 80px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        border: 1px solid #b3b3b3;
        border-radius: 4px;
        color: #4c4c4c;
        cursor: pointer;
    }
    .active {
        background: #51bee3;
        border: 1px solid #51bee3;
        color: #fff;
    }
}

.timeFilter {
    clear: both;
    padding: 10px 0;
    .period {
        margin: 0 20px 0 0;
    }
}

.period:hover {
    background: #51bee3;
    border: 1px solid #51bee3;
    color: #fff;
}

.peopleNum {
    height: 80px;
    overflow: hidden;
    .numBox {
        width: 180px;
        height: 80px;
        border: 2px solid #51bee3;
        border-radius: 4px;
        .numTitle {
            height: 36px;
            line-height:36px;
            text-align: center;
            width: 100%;
            background: #51bee3;
            color: #fff;
            font-size: 16px;
            letter-spacing: 3px;
        }
        .numItem {
            height: 42px;
            line-height:42px;
            text-align: center;
            font-size: 20px;
            color: #51bee3;
        }
    }
    div:first-child {
        margin: 0 20px 0 0;
    }
}

.noBorder {
    .numBox {
        border: 0;
        border-radius: 0;
        margin: 12px 0 0;
        .numTitle {
            background: #fff;
            color: #333;
            font-size: 16px;
            letter-spacing: inherit;
            overflow: hidden;
        }
    }
    .wifiBox {
        width: 90%;
        height: auto;
    }
    div:first-child {
        margin: 12px 20px 0 0!important;
    }
}

.blankL {
    margin: 0 0 0 30px;
}

.wifiAllBox {
    height: auto;
}

.pieChart {
    width: 500px;
    height: 260px;
    margin: 10px 0 0;
}

.hotChart {
    height: 616px;
}

.partPhone {
    width: 456px;
    height: 450px;
}

.allPhone {
    margin: 120px 0 0;
    width: 130px;
    height: 150px;
}

.leftArr {
    display: block;
    margin: 120px 0 0;
    width: 76px;
    height: 150px;
    background: url("./img/arrLeft.png") center center no-repeat;
}

.rightArr {
    background: url("./img/arrRight.png") center center no-repeat;
}

.sortSelect {
    line-height: 34px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
}

#j_timeCompared, #j_connectionNum {
    height: 460px;
}

